{:paths ["src"]
 :deps {org.clojure/data.json {:mvn/version "2.5.1"}
        io.modelcontextprotocol.sdk/mcp {:mvn/version "0.8.1"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {io.modelcontextprotocol.sdk/mcp-test {:mvn/version "0.8.1"}}}}}
